
.mesa {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
}

.deck {
  display: flex;
  /* background: green; */
  align-items: center;
  width: 50%;
  justify-content: center;
  z-index: 1;
}

.basura {
  display: flex;
  /* background-color: blue; */
  align-items: center;
  width: 50%;
  justify-content: center;
  z-index: 0;
}


.card {
  /* START - CARD ON CARD */
  position: absolute;
  will-change: transform;
  display: flex;
  align-items: center;
  justify-content: center;
  touch-action: none;
  /* END - CARD ON CARD */

  background-color: transparent;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  width: 45vh;
  max-width: 196px;
  height: 85vh;
  max-height: 285px;
  will-change: transform;
}